


.header {
     padding: 0px;
     background: #b1b1b1;
     background-size: cover;
     text-align: center;
     width: 100%;
     height: 200px;
     top: 0px;
     bottom: 0px;
     margin: auto;
}
    
    h1 {
        text-align: center;
        font-family: 'Courier New', monospace;
        font-size: 50px;
        font-weight: 400;
    }
    a{
        color: inherit;
        color: #FFFFFF;
        text-decoration: none;
    }
    h1 a:hover {
        color: #111;
    }
    ul {
        list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color: black;
     }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 35px;
      text-decoration: none;
    }


    li a:hover {
      background-color: #111;
    }
    .grey{
        background-color: #b1b1b1;
        text-align: center;
        font-weight: 1000;
    }
    footer {
      text-align: center;
      padding: 10px;
      background-color: #b1b1b1;
      color: white;
    }
    